# ── Web Framework ──────────────────────────────────
fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9

# ── ML ─────────────────────────────────────────────
tensorflow==2.17.0
numpy==1.26.4
pillow==10.4.0
scikit-learn==1.8.0

# ── Frontend ───────────────────────────────────────
streamlit==1.38.0
pandas==2.2.2
requests==2.32.3

# ── MLOps ──────────────────────────────────────────
mlflow==2.11.1
dvc==3.67.1

# ── Airflow ────────────────────────────────────────
apache-airflow==2.9.3
kaggle==1.6.12

# ── Monitoring ─────────────────────────────────────
prometheus-client==0.20.0

# ── Testing ────────────────────────────────────────
pytest==8.0.0
